<link rel="stylesheet" href="cadastro.component.css">
<body>
    <div class="container">
        <div class="background"></div>
            <div class="login-form">
                <h2>Cadastro</h2>
                <form action="**"><input type="email" placeholder="E-mail"></form>
                <form action="**"><input type="password" placeholder="Senha"></form>
                <div class="options">
                    <label for="**"><input type="checkbox">Lembrar-me</label>
                </div>
                <a href="../home/home.component.html"><button type="submit">Cadastrar-se</button></a>
            </div>
        </div>
</body>