<link rel="stylesheet" href="minha-agenda.component.css">
<body>
  <!-- Cabeçalho com navegação -->
  <header>
    <nav>
      <a class="logo">Espaço de Beleza</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="../home/home.component.html">Home</a></li>
        <li><a href="../perfil/perfil.component.html">Perfil</a></li>
      </ul>
    </nav>

    <h1>Em Manutenção...</h1>
  </header>